name: NPM Publish

on:
  push:
    branches:
      - main

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: oven-sh/setup-bun@v2

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      # Upload pages artifact before npm install and build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: '.'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - run: |
          make build

      - name: Set up Git config
        run: |
          git config --global user.name "ToolSDK.ai"
          git config --global user.email "dev@toolsdk.ai"

      - name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump version
        run: |
          npm version patch --no-git-tag-version

      - name: Set commit message
        id: commit_message_step
        shell: bash
        run: |
          echo "commit_message=$(grep -o '"version": *"[^"]*"' package.json | cut -d '"' -f 4)" >> $GITHUB_OUTPUT
        
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: npm @toolsdk.ai/registry released - ${{ steps.commit_message_step.outputs.commit_message }}
